{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">	
			<h1> Gas stations problem </h1>

			<form method="POST" class="form" enctype="multipart/form-data">

				{% csrf_token %}

				<div class="form-group">
					<label for="manual_test">Manual test</label>
					<input type="text" class="form-control" name="manual_test" id="manual_test" value="{{manual}}" placeholder='"4","3:1","2:2","1:2","0:1"' data-toggle="tooltip" data-placement="top" title="N which will be the number of gas stations in a circular route and each subsequent element will be the string g:c where g is the amount of gas in gallons at that gas station and c will be the amount of gallons of gas needed to get to the following gas station.">
				</div>

				<div class="form-group">
					<label for="text_file">Text file</label>
					<input type="file" name="text_file" id="text_file" class="form-control"/>
				</div>

				<div class="form-inline">
					<input type="checkbox" class="form-control" name="show_data" id="show_data" value="True" {% if show_data %}checked{% endif %} >
					<label for="show_data">Show data</label>
				</div>

				<button type="submit" class="btn btn-primary"> Test </button>
			</form>

			{% if messages %}
				<ul>
				{% for message in messages %}
					<li>{{message}}</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% block js %}	
	<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
